= "#{@user.name}さんのマイページ"
%img.icon-image{ src: "#{@user.image}" }

- unless current_user == @user
  = render partial: "follow", locals: { user: @user }

.all-posts
  = "#{@user.name}さんの投稿一覧"
  - @posts.each do |post|
    = render partial: "/posts/post", locals: { post: post}

.all-posts_fav
  = "#{@user.name}さんがいいねした投稿一覧"
  - @fav_posts.each do |post|
    .post
      = link_to "#{post.user.name}", user_path(post.user.id)
      = "(#{post.post.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M:%S")}) : "
      = post.post.content
      %span 
        = link_to create_favorite_post_path(post.post) ,action: "#{create_favorite_post_path(post.post)}", id: "post#{post.post.id}", class: "get_fav", remote: true, data: {post_id: post.post.id} ,method: :post do
          = icon("fas", "heart", class: "fav-btn")
          = "#{post.post.favorites.count}"
      %br

= link_to "トップページに戻る", root_path

