%ul
  %p Categories
  %li
    = link_to "ファッション", "/categories/1",class: "category"
  %li
    = link_to "家具", "/categories/2",class: "category"
  %li
    = link_to "デジタル", "/categories/3",class: "category"
  %li
    = link_to "キッチン", "/categories/4",class: "category"
  %li
    = link_to "考え方","/categories/5",class: "category"
  %li
    = link_to "本", "/categories/6",class: "category"
  %li
    = link_to "その他", "/categories/7",class: "category"