= form_with model: @post, local: true do |f|
  = f.text_area :content, placeholder: "投稿する"
  = f.label :category_id, "カテゴリー"
  = f.collection_select :category_id, Category.all, :id, :category_name
  = f.submit "SEND"